################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/x86/Debug
/bin/x86/Release
/bin/x64/Debug
/bin/x64/Release
/Debug
/Debug-COLUMN_ORDER
/Debug-ROW_ORDER
/Release
/Release-COLUMN_ORDER
/Release-ROW_ORDER
/ARM
/OpenML.Android/ARM/Debug
/OpenML.Test/Debug
/bin/arm/Debug/OpenMLConfiguration.o
/bin/arm/Debug/OpenML.Android.tlog
/bin/arm/Debug/MathPP.Android.log
/bin/arm/Release/OpenMLConfiguration.o
/bin/arm/Release/OpenML.Android.tlog
/bin/arm/Release/MathPP.Android.log
/OpenML.Test/Release
/OpenML.Win32/Win32/Debug
/OpenML.Test/Debug-ROW_ORDER
/OpenML.Test/Debug-COLUMN_ORDER
/OpenML.Win32/Win32/Debug-ROW_ORDER
/OpenML.Win32/Win32/Debug-COLUMN_ORDER
/OpenML.Test/Release-COLUMN_ORDER
/build
/OpenML.Test/x64/Debug-COLUMN_ORDER
/OpenML.Win32/Win32/Release-COLUMN_ORDER
/OpenML.Win32/x64
